body {
    background-color: #105540;
    margin:0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 18px;
    color: #313547;
    user-select: none;
}

#home-button {
    width:30px;
    align-self: flex-start;
    position:fixed;
    left: 2%;
    top: 2%;
}

#main-box {
    max-width: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

.img-box {
    height: 300px;
    width: 300px;

    margin-top: 5%;
    margin-bottom: 5%;

    background-color:  #B7D231;
}

.img {
    height: 300px;
    width: 300px;
}

a {
    text-decoration: none;
    color: #313547;
    cursor: inherit;
}

.hover:hover {
    box-shadow: 3px 3px 0 0 #5171A5;
    transition: 0.1s all ease-in-out;
}

.hidden {
	display: none;
}

.qset {
    min-height: 100vh;
    padding-top: 5%;
}

.question {  
    min-height: 50px;
    width: 280px;
    padding: 10px;

    line-height: 20px;
    color: #B7D231;
}


.answer {  
    min-height: 50px;
    width: 280px;
    padding: 10px;


    border-radius: 15px;

    margin-bottom: 5%;

    background-color: #B7D231;
}

#result {
    width: 100px;
    padding: 10px;

    border-radius: 15px;

    margin-top: 15%;
    margin-bottom: 15%;

    background-color: #ffe641;
    align-self: center;
}

.shiny:hover {
    box-shadow: 0px 0px 30px #ffe641;
    transition: 0.2s all ease-in-out;

}

/*scroll bar shit*/

/* width */
::-webkit-scrollbar {
    width: 13px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #105540;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #789F44;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #B7D231;
  }